<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> this is my frist redirected web page</h1>
    <h2>redirected by lucky route</h2>
    <<from method="post">
        <label>name:</label>
        <input type="text" name="name"><br><br>
        <label>branch:</label>
        <input type="text" name="branch"><br><br>
        <label>marks:</label>
        <input type="text" name="marks"><br><br>
        <label>place:</label>
        <input type="text" name="place"><br><br>
        <button>submit</button>
    </from> 
</body>
</html>